<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Tulpen+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Wire+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Handlee&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Teko:300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <title></title>
</head>
<header>
    <div id="icon"></div>
    <p id="website-name" href="/">Farawla</p>
<body>
    <nav>
        <% if (user) { %>
          <a href="/logout" id="login">Log Out</a>
        <% } else { %>
          <a href="/auth/google" id="logout">Log In</a>
        <% } %>
    </nav>
    <nav> 
        <% if (user) { %>
          <a href="/submit" id="add-recipe-button-nav">Add Recipe</a>
        <% } else { %>
          <a style="visibility: hidden">Log In to Post</a>
        <% } %>
    </nav>
  </header>
  <main>
    <h1></h1>