body {
  padding: 50px;
  
  background-color: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(131, 24, 122);
  font-size: 2em;
  padding: 10px;
  margin: 10px;
  background-color: #ececec;
  text-decoration: none;
  display: block;
  border: 2px solid black;
}

.recipe-box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 2px solid black;
}
.recipe-title{
  font-weight: bold;
  font-size: 1.2rem;
}

tr{
  font-size: 3em;
  border: 2px solid black
}

td{
  border: 2px solid black;
  padding: 10px;
}

#button{
  width: 100%;
  background-color: cadetblue;
  color: white;
}