<%- include('../partials/header') %>
   
<form name="sumbit-recipe" method="POST" action="/recipes">
    <table>
        <tr>
        <td>Recipe Name</td>
            <td><input type="text" name="title" placeholder="Fried Chicken" ></td>
        </tr>
        <tr>
            <td>Ingredients (Sepereated by commas)</td>
            <td><input type="text" name="ingredients" placeholder="Salt, Pepper, etc" ></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" name="description"placeholder="Perfect for parties" ></td>
            </tr>
        <tr>
            <td colspan="2"><input type="submit" id="button" value="Add Recipe"></td>
        </tr>
    </table>
</form>   

<%- include('../partials/footer') %>